.votes.col-xs-2.col-sm-1
  = render partial: 'votes/vote', locals: {object: object, positive: true}
  = render partial: 'votes/vote', locals: {object: object, positive: false}

  .vote-total
    %h3
      .small= object.display_votes
