.votes.col-xs-2.col-sm-1
  = render partial: 'votes/vote', locals: {object: object, positive: true}
  .down-vote
    = render partial: 'votes/vote', locals: {object: object, positive: false}
  .vote-total
    %h3
      .small= (object.vote_total / 10.0).round / 10.0
