.votes.col-xs-2.col-sm-1
  = render partial: 'votes/vote', locals: {object: object, positive: true, tab: local_assigns[:tab]}
  = render partial: 'votes/vote', locals: {object: object, positive: false, tab: local_assigns[:tab]}

  .vote-total
    %h3
      .small= object.display_votes
