%h4.subtitle.col-sm-12
  An attempt to ask (and answer) every question.

%h3.col-sm-12 Topics

.topics_list.col-sm-6
  - @topics.each do |topic|
    .topic_preview
      %h5= link_to topic.title, topic
  .create_topic
    %h5= link_to "#{fa_icon('plus-circle')} Create A New Topic".html_safe, new_topic_path
