body {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: sans-serif;
  line-height: 1.25em;
}

a, a:visited, a:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #666;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 0 12px;
  margin-bottom: 12px;

  h1 {
    margin: 12px 0;
    font-family: 'Roboto', sans-serif;

    a {
      border: none;
    }
  }
}

.sidebar {
  border-right: 1px solid #eee;
  padding: 12px;

  .section {
    margin-bottom: 36px;

    ul {
      padding-left: 24px;
      li {
        margin-bottom: 12px;
      }
    }
  }
}

.main_content {
  padding: 12px 0;
}
