# COLORS: https://coolors.co/f26419-ff9a35-2f4858-33658a-86bbd8


body {
  padding: 0;
  margin: 0;
  color: #2F4858;
  font-family: sans-serif;
  line-height: 1.25em;
}

a, a:visited, a:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #666;
}

.title {
  font-family: 'Roboto', sans-serif;
}

.btn-default {
  background-color: #FF9A35;
  color: white;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 0 12px;
  margin-bottom: 12px;

  h1 {
    margin: 12px 0;

    a {
      border: none;
    }
  }
}

.sidebar {
  border-left: 1px solid #eee;
  padding: 0 12px;

  .section {
    padding: 24px 0 12px 0;

    ul {
      padding-left: 24px;
      li {
        margin-bottom: 12px;
      }
    }
  }

  .about {
    padding: 12px;
    background-color: #33658A;
    color: white;

    a {
      color: white;
    }
  }
}

.main_content {
  padding: 12px 0;
}
