// COLORS: https://coolors.co/f26419-ff9a35-2f4858-33658a-86bbd8


body {
  padding: 0;
  margin: 0;
  color: #2F4858;
  font-family: sans-serif;
  line-height: 1.25em;
}

a, a:visited, a:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed #666;
}

.title, .subtitle {
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  margin-bottom: 30px;
  text-align: center;
}

.notice, .warning {
  text-align: center;
  color: white;
  background-color: #FF9A35;
  padding: 12px 0;
  margin-bottom: 30px;
}

.btn-default {
  background-color: #FF9A35;
  color: white;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 12px;

  h1 {
    margin: 12px 0;

    a {
      border: none;
    }
  }

  .links {
    text-align: right;
    a {
      line-height: 60px;
      margin-right: 39px;
    }
  }
}

.sidebar {
  border-left: 1px solid #eee;
  padding: 0 12px 0 30px;

  h3 {
    margin: 12px 0 48px 0;

    .small {
      color: white;
      font-size: 0.6em;
      line-height: 1.5em;
      margin-top: 12px;
    }
  }

  .section {
    padding-bottom: 45px;

    ul {
      padding-left: 24px;
      li {
        margin-bottom: 12px;
      }
    }

    &.rules {
      li {
        margin: 12px 0 30px 0;
      }
    }
  }

  .about {
    padding: 12px;
    background-color: #33658A;
    color: white;

    a {
      color: white;
    }
  }
}

.main_content {
  padding: 12px 12px 12px 0;
}

.description {
  margin-top: 12px;
}

i.fa {
  color: #FF9A35;
}

.vote {
  text-align: center;

  h2, h3 {
    margin: 0;
  }

  .vote-total {
    margin-top: 6px;
  }

  form {
    button {
      outline: none;
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

.votable {
  border-left: 1px solid #ccc;
}
