@import "variables";

.questions-controller {
  .question {
    padding: 12px 0 24px 0;

    .comments {
      margin-bottom: 12px;

      .comment {
        padding: 9px 6px 6px 6px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        background-color: #fafafa;
      }
    }
  }

  .answer_question {
    clear: left;
    padding: 24px 0;

    textarea {
      height: 5em;
      margin-bottom: 12px;
    }
  }

  .votable {
    .answer {
      padding: 12px;
      margin-bottom: 12px;

      .text {
        padding: 12px;

        a {
          color: $green-color;
        }
      }

      .details {
        padding: 6px 12px;
        background-color: #efefef;
        a {
          border: none;
          color: $orange-color;

          i {
            font-size: larger;
          }
        }
      }
    }
  }
}
