// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions-controller {
  .question {
    padding: 12px 0 24px 0;
  }

  .answer_question {
      padding: 24px 0;

      textarea {
        height: 5em;
        margin-bottom: 12px;
      }
  }

  .answers {
  }
}
