@import "variables";

.questions-controller {
  .question {
    padding: 12px 0 24px 0;
  }

  .answer_question {
      padding: 24px 0;

      textarea {
        height: 5em;
        margin-bottom: 12px;
      }
  }

  .answers {
    .answer {
      padding: 12px;
      border: 1px solid #ccc;
      margin-bottom: 12px;

      .text {
        padding: 12px;

        a {
          color: $green-color;
        }
      }

      .details {
        padding: 6px 12px;
        background-color: #efefef;
        a {
          border: none;
          font-size: larger;
        }
      }
    }
  }
}
