// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics-controller {
  .topic-title {
    padding: 24px 0 12px 0;
  }

  .ask_a_question {
    margin: 24px 0 48px 0;
    padding: 12px;
    border: 1px solid #eee;

    .form-group {
      width: 100%;
      margin-top: 12px;

      .form-control {
        width: 80%;
      }
    }
  }

  .subtopics {
    a {
    	white-space: nowrap;

      .fa-plus-circle {
        color: #FF9A35;
      }
    }
  }

  .filter {
    margin-top: 12px;
  }

  .questions {
    .none {
      padding: 30px;
    }

    .question {
      padding: 12px;
      border-bottom: 1px dashed #ccc;

      %h4 {
        display: inline;
        font-weight: bold;
      }

      a {
        border: none;
      }

      .answer {
        position: relative;
        height: 4em;
        overflow: hidden;
      }

      .details {
        padding: 6px 12px;
        background-color: #efefef;
      }
    }
  }

  .topic_form {
    margin-top: 30px;

    textarea {
      height: 10em;
    }
  }
}
