@import "variables";

.welcome-controller {
  .subtitle {
    margin-top: 0;
  }

  .topics_list, .questions_list {
    padding-bottom: 45px;

    .create_topic {
      padding: 12px 0;
    }

    .topic_preview, .question_preview {
      margin-top: 24px;
    }

  }
}
