= form_for [object, object.question_votes.new(positive: positive)], remote: true, class: (positive ? 'up-vote' : 'down-vote') do |f|
  = f.hidden_field :positive
  %h2= button_tag fa_icon("chevron-circle-#{positive ? 'up' : 'down'}")
