.sidebar.col-md-3
  .section
    %p
      %b The Goal
    %p
      Ask (and try to answer) all possible questions about a specific topic.

    %p (this means every possible phrasing of every question)
    %p (this may be impossible)
    %p (we want to try anyways)
    %p (it could really help people learn something new)

  .section
    %p
      %b The Rules
      %ul
        %li Every possible question is valued, even closely related questions.
        %li You can write an answer to your own question. This is valued as well.
        %li
          No question should ever be dismissed if a similar question has already been answered.
          You can provide a link to the existing question, but never suggest that the question
          should not have been asked.
