.sidebar.col-md-5.col-lg-3
  .about.col-sm-12.title
    %h3
      .title InfiniteQ
      .small A supportive community trying to ask (and answer) every question.

    .section
      %h4 The Goals
      %ul
        %li A supportive community.
        %li Easy to contribute.
        %li No personal attacks or snark.
        %li As many questions and answers online as possible.

    .section.rules
      %h4 The Rules
      %ul
        %li
          %p No registration required.
          %p.small (to make it as easy as possible for people to contribute)
        %li
          %p Answer your own questions.
          %p.small (to help as many people as possible with answers to questions online)
        %li
          %p NO PERSONAL ATTACKS / BELITTLING / SNARK
          %p.small (we're trying to help people here, not make them feel bad - don't answer a question if you can't resist the snark)
        %li
          %p Please flag! (thoughtfully)
          %p.small (the flagging system is designed to support a respectful community - please flag when inappropriate!)

-#
  .sidebar.col-md-5.col-lg-3
    .about.col-sm-12.title
      %h3.title InfiniteQ
      .section
        %h4 The Goal
        %p Make it as easy as possible to ask and answer questions.
        %ul
          %li No registration required.
        %p Capture as much information as possible in Q&A format.

      .section
        %h4 The Rules
        %p Every possible question is valued.
        %p You can write an answer to your own question.
        %p In fact we encourage that.

      .section
        %h4 Moderation
        %p Since anyone can write a question or answer we need robust community moderation.
        %p Please flag anything that is not appropriate.
        %p Personal attacks will be removed immediately.
        %p Do not flag similar questions. Simply link to the existing question.

-#
  .sidebar.col-md-5.col-lg-3
    .about.col-sm-12.title
      %h3.title InfiniteQ
      .section
        %h5 The Goal
        %p
          Ask (and try to answer) all possible questions about a specific topic.

        %p (this means every possible phrasing of every question)
        %p (this is likely impossible)
        %p (we want to try anyways)
        %p (it could really help people learn)

      .section
        %h5 The Rules
        %p Every possible question is valued, even closely related questions. (including different wording)
        %p You can write an answer to your own question. This is valued as well.
        %p
          No question should ever be dismissed if a similar question has already been answered.
          You can provide a link to the existing question, but never suggest that the question
          should not have been asked. All questions are valued.
        %p
          Personal attacks are not welcome and will be removed immediately.
